{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "no-else-return": "off",
    "no-useless-return": "off",
    "no-bitwise": "off",
    "linebreak-style": "off",
    "no-unused-vars":"off",
    "no-shadow":"off",
    "no-useless-escape":"off",
    "func-names":"off",
    "object-shorthand":"off",
    "consistent-return":"off"
  }
}